* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  background: #f4f4f4;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  background: white;

  width: 400px;

  padding: 30px;

  border-radius: 12px;

  text-align: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 12px 20px;

  margin-top: 20px;

  cursor: pointer;
}

p {
  margin-top: 20px;

  font-size: 18px;
}
